<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="" style="text-align:left;>

	    <p>
		    In this study, you will see picture and sentences pairs or pictures alone. You need to do two tasks: 
			<li> To verify whether the sentence correctly describes the content of the picture. If it does, press button <span style="color:green; font-weight:bold;">Y (Yes)</span>; otherwise press button <span style="color:red; font-weight:bold;">N (No)</span>. Please respond as quickly as possible. </li>
			<li> To construct a sentence with the verb given to describe the picture you see. </li>
	    </p>
	    
	    <p>
	    	For picture verification task, you only need to verify whether the meaning of the sentence matches the picture. If a sentence is not grammatically correct but correctly describing the content of the picture, then you should press Y for yes. 
        </p>

        <p>
        	For picture description task, you will see a picture along with a verb under it. you need to ype in a full sentence using the given ver to describe the picture. 
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
