<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
            In this study, you will see picture and sentences pairs or pictures alone. You need to do two tasks: 
            <li> Verifying whether the sentence correctly describes the content of the picture. If it does, press button Y (Yes); otherwise press button N (No). Please respond as quickly as possible. </li>
            <li> Constructing a complete sentence to describe the picture with the given verb. </li>
        </p>
        
        <p>
            For picture verification task, you only need to verify whether the meaning of the sentence matches the picture. If a sentence is not grammatically correct but correctly describing the content of the picture, then you should press Y for yes. 
        </p>

        <p>
            For picture description task, you will see a picture along with a verb under it. you need to ype in a full sentence using the given ver to describe the picture. 
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
